*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Josefin Sans' sans-serif;
}
header{
	width:100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)),  url('pahar.jpg'); 
	background-repeat: no-repeat;
	background-size:cover;

}
nav{
	width: 100%;
	height: 15vh;
	background: rgba(0,0,0,0.2);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}

nav .logo {
	width: 25%;
	text-align: center;
	
}
nav .menu {
	width: 55%;
	display: flex;
	justify-content: space-around;
}
nav .menu a {
	width: 25%;
	text-decoration: none; color: white;
	font-weight: bold;


}
nav .menu a:first-child{
	color: #00b894;
}


main{
	width: 100%;
	height: 85vh;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: white;
}
section{

}

section h3{
    font-size:  35px; 
    font-weight: 200p;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px black;

}
section h1{
    margin: 30px 0 20px 0;
	 font-size:  55px; 
    font-weight: 700p;
     text-shadow: 2px 1px 5px black;
     text-transform: uppercase;
}

section p{
	font-size: 25px;
	color: #eee;
	word-spacing: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 1px black;


}

section a{
	padding: 12px 30px;
	border-radius:  4px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all .5s ease;
}
section .button1{
	background: #fff;
	color: #000;
}
.button1:hover{
	background: #00b894;
	color: white;

}
section .button2{

	background:#00b894;
	color:white ;
}
.button2:hover{
	background: #00b894;
	color: white;
}

.change_content:after{
	content: '';
	animation: changetext 10s infinite linear;
	color: #00b894;
}
@keyframes changetext{
	0% {content: "Coxs Bazar";}
	20% {content: "Sundorbon";}
	35% {content: "kuakata";}
	60% {content: "Syllet";}
	80% {content: "Rangamati";}
}